# Go build outputs
/bin/
/out/

# GoLand IDE files
.idea/
*.iml
*.iws
*.ipr

# OS files
.DS_Store
Thumbs.db

# Dependency directories
/vendor/

# Logs and temp files
*.log
*.tmp

# Coverage reports
coverage.out

# Executable files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore test binary
*_test

#env files
.env
